<header class="header">
  <div class="header__logo">
    <img class="header__logo-img" src="https://1.bp.blogspot.com/-bk1Zm05Cdls/XTjJADUhTgI/AAAAAAAAAM4/vUlAf_WFKho5mcrBj4vXRj_L5BOr3-fcACLcBGAs/s1600/IT%2527S%2BTIME%2BFOR%2BA%2BGIF-AWAY.gif">
  </div>
 
  <nav class="header__nav">
    <div class="header__nav__container">
      <a class="header__nav__container__anchor" [routerLink]="['/home']"> HOGWARTS HOME</a>
      <a class="header__nav__container__anchor" [routerLink]="['/characters']">CHARACTERS SAGA HARRY POTTER</a>
      <a class="header__nav__container__anchor" [routerLink]="['/houses']"><img  class="header__nav__container__image" src="https://66.media.tumblr.com/c71cb81fcd65b4f3b0bd824f26ef7e06/tumblr_inline_o4g2l3pOWU1qmr8d1_540.png" alt="hogwarts shield">HOUSES<img  class="header__nav__container__image" src="https://66.media.tumblr.com/c71cb81fcd65b4f3b0bd824f26ef7e06/tumblr_inline_o4g2l3pOWU1qmr8d1_540.png" alt="hogwarts shield"></a>
      <a class="header__nav__container__anchor" [routerLink]="['/sortinghat']">SORTING HAT</a>
    </div>
  </nav>
</header>
 
<router-outlet></router-outlet>